* {
    padding: 0;
    margin: 0;
  }

.header {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9999;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-left: 10px;
}

.text h4 {
    font-family: "Open sans", sans-serif;
    font-size: 34px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: auto;
}

.text p {
    font-family: 'Quicksand',Georgia,'Times New Roman',Times,serif;
    margin-top: 10px;
}

.header .logo img {
    width: 135px;
    height: 135px;
    margin: 10px 0 10px 20px;
}

li {
    list-style: none;
}
  
a {
    color: #000000;
    text-decoration: none;
}

.container {
    max-width: 1224px;
    margin: auto;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    font-size: 2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
  
.nav-link {
    transition: 0.3s ease-out;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    color: #000000;
}

.nav-link-a {
    transition: 0.3s ease-out;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    color:#0093DD;
}

.nav-link-b {
    transition: 0.3s ease-out;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    color:#FF0000;
}

.nav-link:hover {
    color: #0093DD;
}

.nav-link-a:hover, .nav-link-b:hover {
    color: #000000;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px; /* adjust the top value to position the hamburger icon vertically */
    right: 20px; /* adjust the right value to position the hamburger icon horizontally */
    z-index: 9999; /* add a high z-index to ensure it's positioned above other elements */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #000000;
}

@media(max-width:1024px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}

body {
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.main {
    position: relative;
    height: 200px;
    width: 100vw;
    background-color: #188FD6;
}

.utama {
    position: relative;
    height: 200px;
    width: 455vw;
    background-color: #188FD6;
}

.main p, .utama p {
    font-family: 'Quicksand',Georgia,'Times New Roman',Times,serif;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    margin: 0 auto 5px 25px;
}

.instruct {
    background-color: #FFFFFF;
    width: 100vw;
    height: 480;
    margin-top: 10px;
}

.pagination {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 45px;
}
  
.show {
    font-family: "Open sans", sans-serif;
    font-size: 11px;
    color: #6F6F6F;
    padding: 5px 10px;
    background-color: #F5F5F5;
    border: 1px solid #C9C9C6;
}
  
.numbers {
    font-family: "Open sans", sans-serif;
    font-size: 11px;
    color: #6F6F6F;
    display: flex;
    align-items: center;
    border: 1px solid #C9C9C6;
    height: 30px;
}
  
.arrow {
    padding: 5px;
    cursor: pointer;
}

#rowsPerPage {
    border: none;
    background-color: transparent;
    padding: 8px;
}
  
.value {
    margin: 0 10px;
}
  
.entries {
    font-family: "Open sans", sans-serif;
    font-size: 11px;
    color: #6F6F6F;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid #C0C0C6;
}
  
.pagination .arrows span {
    cursor: pointer;
}

.search {
    text-align: right;
    margin: 5px 100px 0 0;
    font-family: "Open sans", sans-serif;
    color: #6F6F6F;
    font-weight: bold;
    display: flex;
}
  
label {
    display: inline-block;
    margin-right: 10px;
}

.group {
    display: flex;
    justify-content: space-between;
}
  
input[type="search"] {
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #C9C9C6;
    box-sizing: border-box;
}

input[type="search"]::placeholder {
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

tr:last-child {
    border: none;
}

table {
    margin: 20px 0 0 30px;
    border-collapse: collapse;
}

th {
    border: 2px solid #188FD6;
    padding: 20px;
    font-family: 'Quicksand',Georgia,'Times New Roman',Times,serif;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #188FD6;
}

td {
    border: 2px solid #188FD6;
    padding: 20px;
    font-family: 'Quicksand',Georgia,'Times New Roman',Times,serif;
    font-size: 15px;
    font-weight: bold;
}

td img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.export {
    margin: 30px 0 0 30px;
    background-color: #6F6F6F;
    border: #6F6F6F;
    width: 200px;
    height: 43px;
    display: flex;
    align-items: center; /* Align icon and text vertically */
    gap: 10px; /* Adjust spacing between icon and text */
    padding: 10px; /* Add padding around the button */
    color: #FFFFFF;
}

.button-text {
    font-size: 20px;
    font-family: 'Quicksand',Georgia,'Times New Roman',Times,serif;
    color: #FFFFFF;
}

.tambah {
    margin-top: 30px;
    margin-left: 30px;
}

/* Style for the modal */
.modals {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 200;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.form {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}
  
/* Style for the modal content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* Style for the modal header */
.modal-header {
    background-color: #f2f2f2;
    color: #333;
}
  
/* Style for the modal title */
.modal-title {
    margin: 0;
}
  
/* Style for the modal body */
.modal-body {
    padding: 15px;
}
  
/* Style for the form fields */
.form-group {
    margin-bottom: 15px;
}
  
/* Style for the form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
/* Style for the form inputs */
.form-control {
    width: 100%;
}
  
/* Style for the modal footer */
.modal-footer {
    background-color: #FFFFFF;
    border-top: 0;
    text-align: right;
  }
  
/* Style for the submit button */
#submitForm {
    margin-left: 10px;
}

.btn-primary {
    font-family: 'Quicksand',Georgia,'Times New Roman',Times,serif;
}

.pages {
    display: inline-block;
    padding: 8px;
    margin-left: 25px;
    border-color: 2px solid #000000;
}

.pages a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pages a.active {
    background-color: #007bff;
    color: white;
}