* {
    padding: 0;
    margin: 0;
  }

.header {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9999;
}

@font-face {
    font-family: 'Quicksand';
    src: url('path/to/Quicksand-Regular.woff2') format('woff2'),
         url('path/to/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

.logo {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-left: 10px;
}

.text h4 {
    font-family: "Open sans", sans-serif;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: auto;
}

.text p {
    font-family: "Quicksand", Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.header .logo img {
    width: 135px;
    height: 135px;
    margin: 10px 0 10px 20px;
}

li {
    list-style: none;
}
  
a {
    color: #000000;
    text-decoration: none;
}

.container {
    max-width: 1224px;
    margin: auto;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    font-size: 2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
  
.nav-link {
    transition: 0.3s ease-out;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
}

.nav-link-a {
    transition: 0.3s ease-out;
    font-family: "Open sans", sans-serif;
    font-weight: bold;
    color:#0093DD;
}

.nav-link:hover {
    color: #0093DD;
}

.nav-link-a:hover {
    color: #000000;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px; /* adjust the top value to position the hamburger icon vertically */
    right: 20px; /* adjust the right value to position the hamburger icon horizontally */
    z-index: 9999; /* add a high z-index to ensure it's positioned above other elements */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #000000;
}

@media(max-width:1024px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}

body {
    animation: fade-in 1s ease-in forwards;
    background-image: url('../img/s.png'); /* Replace with your image file path */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.main {
    position: relative;
    height: 500;
}

.main p {
    font-family: "Quicksand", Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    margin: 0 0 0 25px;
}

.instruction {
    background-color: #FFFFFF;
    width: 100vw;
    height: fit-content;
    margin-top: 10px;
}

.instr {
    background-color: #FFFFFF;
    width: 100vw;
    height: 235;
    margin-top: 10px;
}

.instruct {
    background-color: #FFFFFF;
    width: 100vw;
    height: 400;
    margin-top: 10px;
}

.topic {
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    margin: 10px auto 0 20px;
}

.step {
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    margin: 10px auto 0 20px;
}

.subtopic {
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #717874;
    margin-left: 20px;
}

.sub {
    font-size: 20px;
    font-family: "Open sans", sans-serif;
    color: #0000FF;
    text-decoration: underline;
    font-weight: bold;
}

.sublink {
    font-size: 20px;
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    color: #0000FF;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
    margin-left: 20px;
}

td {
    padding: 1px;
}

table tr:last-child {
    color: #FF0000; /* Set font color to red */
    font-weight: bold;
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

table tr {
    color: #000000; /* Set font color to black */
    font-weight: bold;
    font-family: 'Quicksand', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

iframe {
    margin-left: 20px;
}